a.navbar-item {
  font-family: 'Orbitron', sans-serif;
  padding-left: 32px;
}

.navbar {
  min-height: 5rem;
}

#logo {
  width: 70px;
  height: 40px;
  background-color: #212529;
}
.navbar-item img {
    max-height: 2.75rem;
}

#button-insta {
width: 20px;
height: 30px;
}
/*div {
  background-image: url('./bhanu.jpg');
}*/